.biryaniClass{
    display:flex;
    margin-left: 1px;
    margin-right: 1px;
}

.h3Class{
    color:rgb(230, 139, 99);
    font-style:normal;
    font-family:cursive;
}

.card{
    margin-left: 18px;
    margin-right: 1px;
}
.card-title{
    color:rgb(24, 148, 5)
}